# Environment Variables
.env

# Dependencies
node_modules/
vendor/

# Build outputs
*.bin
build/
dist/
target/

# TypeScript
tsconfig.tsbuildinfo
# Yarn Zero-installs
# Swap the comments on the following lines if you don't wish to use zero-installs
# More details: https://yarnpkg.com/features/zero-installs
.yarn/cache
#.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDEs and editors
.idea/
*.log

# macOS system files
.DS_Store

# Keystore
keystore/

# Solidity
__pycache__/
FunctionVerifier.sol
broadcast/

# Platform specific
proof.json
output.json
verifier-build/
verifier-build-groth16/
plonky2x/core/wrapped/
*.tar.gz

# Miscellaneous
data/
